* {
    font-family: Helvetica, monospace;
    background-color: hwb(40 8% 9%);
    text-align: center;
}

h1 {
    font-family: Georgia, serif;
    font-weight: 900;
    background-color: rgb(67, 236, 61);
    text-align: left;
}

ul,
ol,
li,
a {
    font-family: monospace;
    background-color: aquamarine;
    font-size: 30px;

}

li {
    align-tracks: center;
}